{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'hub/libraries/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hub/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'hub/css/range-slider.css' %}">
    <title>Airbnb</title>
</head> 
<body>
    
    {% block navs %}
    {% include './navbar.html' %} 
    {% endblock navs %}
    

    {% block filters %}
    {% include './filtersnavbar.html' %}
    {% endblock filters %}
    
    {% block body %}

    {% endblock body %}

    <script src="{% static 'hub/libraries/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'hub/libraries/popper.min.js' %}"></script>
    <script src="{% static 'hub/libraries/bootstrap.min.js' %}"></script>
    <script src="{% static 'hub/js/main.js' %}"></script>
    <script src="{% static 'hub/js/range-slider.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.js"</script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->
    
    {% block scripts %}

    <script>

    
    </script>
    
    {% endblock scripts %}
</body>
</html>

