{% extends './base.html' %} 
{% load static %}

 
    {% block navs %} 

    <nav id="small-search-nav" class="navbar flex-container fixed-top">
        <div>
            <a class="small-search-navbar-brand inline" href="{% url 'hub:profile' %}">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div>
            <a href="">Clear</a>
        </div>
    </nav>

       
    {% endblock navs %}

     
    {% block filters %} 
     
    {% endblock filters %} 


    {% block body %} 

    <div id="small-filters-main" class="main">
        <form class="form" action="{% url 'listing:newListing' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <p>Listing Name</p>
                <input type="text" class="form-control" name="name" value="" placeholder="">
            </div>
            <hr class="small-screen">
            <hr class="hr-works">
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" name="address" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" name="city">
                </div>
                <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select name="state" class="form-control">
                    <option selected>Choose...</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                    <option>Delaware</option>
                    <option>District of Columbia</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                    <option>Michigan</option>
                    <option>Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>North Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>
                </select>
                </div>
                <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" name="zip">
                </div>
            </div>
            <hr class="small-screen">

            <div class="hometype">
                <p class="first-filter-title">Property Type</p>
                <div>
                    <ul>
                        <li>
                            <input type="checkbox" class="home-type" name="homeType" value="ENITRE PLACE" checked>
                            <label for="">Entire place</label>
                            <p>Have a place to yourself</p>
                        </li>
                        <li>
                            <input type="checkbox" class="home-type" name="homeType" value="PRIVATE ROOM">
                            <label for="">Private room</label>
                            <p>Have your own room and share some common spaces</p>
                        </li>
                        <li>
                            <input type="checkbox" class="home-type" name="homeType" value="SHARED ROOM">
                            <label for="">Shared room</label>
                            <p>Stray in a shared space, like a common room</p>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="small-screen">
            <div class="guests">
                <p>Guests</p>
                <ul>
                    <li class="flex-container">
                        <p>Max Guests</p>
                        <div>
                            <input type="hidden" id="guestsinput" name="maxguests" value="1">
                            <i id="guest-" class="fas fa-minus-circle fa-lg"></i>
                            <span id="guests">1</span>
                            <i id="guestup" class="fas fa-plus-circle fa-lg"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="small-screen">
            <div class="roomtype">
                <p>Rooms and beds</p>
                <ul>
                    <li class="flex-container">
                        <p>Beds</p>
                        <div>
                            <input type="hidden" id="bedsinput" name="beds" value="0">
                            <i id="bed-" class="fas fa-minus-circle fa-lg"></i>
                            <span id="beds">0</span>
                            <i id="bedup" class="fas fa-plus-circle fa-lg"></i>
                        </div>
                    </li>
                    <li class="flex-container">
                        <p>Bedrooms</p>
                        <div>
                            <input type="hidden" id="bedroomsinput" name="bedrooms" value="0">
                            <i id="bedroom-" class="fas fa-minus-circle fa-lg"></i>
                            <span id="bedrooms">0</span>
                            <i id="bedroomup" class="fas fa-plus-circle fa-lg"></i>
                        </div>
                    </li>
                    <li class="flex-container">
                        <p>Bathrooms</p>
                        <div>
                            <input type="hidden" id="bathroomsinput" name="bathrooms" value="0">
                            <i id="bathroom-" class="fas fa-minus-circle fa-lg"></i>
                            <span id="bathrooms">0</span>
                            <i id="bathroomup" class="fas fa-plus-circle fa-lg"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="small-screen">
            <p>Amenities</p>
            <div class="amenities">
                <div class="flex-container">
                    <a class="link" data-toggle="collapse" data-target="#amenity-options" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show all amenities &#x022C1;</a>
                </div>
                <div class="collapse" id="amenity-options">
                    <ul>
                        <li></li><input type="checkbox" name="amenities1" value="Kitchen">Kitchen</li>
                        <li></li><input type="checkbox" name="amenities2" value="Patio or Balcony">Patio or Balcony</li>
                        <li></li><input type="checkbox" name="amenities3" value="Free Parking">Free Parking</li>
                        <li></li><input type="checkbox" name="amenities4" value="Washer/Dryer">Washer/Dryer</li>
                        <li></li><input type="checkbox" name="amenities5" value="Wifi">Wifi</li>
                        <li></li><input type="checkbox" name="amenities6" value="TV">TV</li>
                        <li></li><input type="checkbox" name="amenities7" value="Private Entrance">Private Entrance</li>
                        <li></li><input type="checkbox" name="amenities8" value="Air Conditioning">Air Conditioning</li>
                        <li></li><input type="checkbox" name="amenities9" value="Outdoor Grill">Outdoor Grill</li>
                        <li></li><input type="checkbox" name="amenities10" value="Coffee Maker">Coffee Maker</li>
                        <li></li><input type="checkbox" name="amenities11" value="Fireplace">Fireplace</li>
                    </ul>
                </div>
            </div>
            <hr class="small-screen">
            <div class="form-group">
                <p>Description</p>
                <textarea type="text" class="form-control" name="description" value="" placeholder="" rows="3"></textarea>
            </div>
            <div></div>  
            <hr class="hr-works">
            <!-- Range Slider -->
            <p>Price</p>
            <div class="rangeslider-container">
                <div class="rangeslider-main">
                    <input id="price-input" type="range" name="price" value="100" step="5" min="10" max="400">
                    <div class="rangeslider-range">
                        <small class="rangeslider-min pull-left">Min</small>
                        <small class="rangeslider-max pull-right">Max</small>
                    </div>
                </div>
            </div>
            <input type="hidden" name="host" value="{{ request.session.data.id }}">
            <div id="filter-submit-footer">
                <button type="submit" class="btn btn-block">Create Listing</button>
            </div>
        </form> 
    </div>

   
    {% endblock body %}


    {% block scripts %}
    <script>
    $('.home-type').click(function(e) {
    $('.home-type').not(this).prop('checked', false);
});

let guests = 1;
let beds = 0;
let bedrooms = 0;
let bathrooms = 0;

$('#guest-').click(function(e) {
    console.log("down");
    if (guests > 1) {
        guests--;
        $('#guests').text(guests);
        $('#guestsinput').attr('value', guests);
    }
});
$('#guestup').click(function(e) {
    console.log("down");
    if (guests < 10) {
        guests++;
        $('#guests').text(guests);
        $('#guestsinput').attr('value', guests);
    }
});
$('#bed-').click(function(e) {
    console.log("down");
    if (beds > 0) {
        beds--;
        $('#beds').text(beds);
        $('#bedsinput').attr('value', beds);
    }
});

$('#bedup').click(function(e) {
    console.log("up");
    if (beds < 8) {
        beds++;
        $('#beds').text(beds);
        $('#beds').attr('value');
        $('#bedsinput').attr('value', beds);
    }
});

$('#bedroom-').click(function(e) {
    console.log("down");
    if (bedrooms > 0) {
        bedrooms--;
        $('#bedrooms').text(bedrooms);
        $('#bedroomsinput').attr('value', bedrooms);
    }
});

$('#bedroomup').click(function(e) {
    console.log("up");
    if (bedrooms < 8) {
        bedrooms++;
        $('#bedrooms').text(bedrooms);
        $('#bedrooms').attr('value');
        $('#bedroomsinput').attr('value', bedrooms);
    }
});

$('#bathroom-').click(function(e) {
    console.log("down");
    if (bathrooms > 0) {
        bathrooms--;
        $('#bathrooms').text(bathrooms);
        $('#bathroomsinput').attr('value', bathrooms);
    }
});

$('#bathroomup').click(function(e) {
    console.log("up");
    if (bathrooms < 8) {
        bathrooms++;
        $('#bathrooms').text(bathrooms);
        $('#bathroomsinput').attr('value', bathrooms);
    }
});

//custom slider javascript
var $element = $('input[type="range"]');
var $handle;

$element
.rangeslider({
polyfill: false,
onInit: function() {
  $handle = $('.rangeslider__handle', this.$range);
  updateHandle($handle[0], this.value);
}
})
.on('input', function() {
updateHandle($handle[0], this.value);
});

function updateHandle(el, val) {
    $('#price-input').attr('value', val);
    el.textContent = " " + "$" + val + " ";
}
    </script>


    {% endblock scripts %}