{% extends './base.html' %} 
{% load static %}


    {% block navs %}

    <nav id="small-search-nav" class="navbar flex-container fixed-top">
        <div>
            <a class="small-search-navbar-brand inline" href="#">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div>
            <a href="">Clear</a>
        </div>
    </nav>

       
    {% endblock navs %}

     
    {% block filters %} 
     
    {% endblock filters %} 


    {% block body %} 

    <div id="small-filters-main" class="main">
        <form action="">
            <div class="hometype">
                <p class="first-filter-title">Home Type</p>
                <div>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <label for="">Entire place</label>
                            <p>Have a place to yourself</p>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label for="">Private room</label>
                            <p>Have your own room and share some common spaces</p>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label for="">Shared room</label>
                            <p>Stray in a shared space, like a common room</p>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="small-screen">
            <div class="roomtype">
                <p>Rooms and beds</p>
                <ul>
                    <li class="flex-container">
                        <p>Beds</p>
                        <div><a class="disabled" href=""><i class="fas fa-minus-circle fa-lg"></i></a><span>0+</span><a class="active" href=""><i class="fas fa-plus-circle fa-lg"></i></a></div>
                    </li>
                    <li class="flex-container">
                        <p>Bedrooms</p>
                        <div><i class="fas fa-minus-circle fa-lg"></i><span>0+</span><i class="fas fa-plus-circle fa-lg"></i></div>
                    </li>
                    <li class="flex-container">
                        <p>Bathrooms</p>
                        <div><i class="fas fa-minus-circle fa-lg"></i><span>0+</span><i class="fas fa-plus-circle fa-lg"></i></div>
                    </li>
                </ul>
            </div>
            <hr class="small-screen">
            <div class="amenities">
            <div class="flex-container">
                <p>Amenities</p>
                <a class="link" data-toggle="collapse" data-target="#amenity-options" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show all amenities &#x022C1;</a>
            </div>
            <div class="collapse" id="amenity-options">
            <ul>
                <li></li><input type="checkbox"><label for=""></label> Kitchen</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
                <li></li><input type="checkbox"><label for=""></label> Heating</li>
            </ul>
        </div>
            </div>
            <hr class="small-screen">
            <div class="facilities">
            <div class="flex-container">
                <p>Facilities</p>
                <a class="link" data-toggle="collapse" data-target="#facility-options" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show all facilities &#x022C1;</a>
            </div>
                <div class="collapse" id="facility-options">
            <ul>
                <li><input type="checkbox"><label for=""></label> Gym</li>
                <li><input type="checkbox"><label for=""></label> Free parking on premises</li>
                <li><input type="checkbox"><label for=""></label> Hot Tum</li>
                <li><input type="checkbox"><label for=""></label> Pool</li>
            </ul>
            </div>
            </div>
            <hr class="small-screen">
            <div class="proptype">
            <div class="flex-container">
                <p>Property type</p>
                <a class="link" data-toggle="collapse" data-target="#property-options" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show all property types &#x022C1;</a>
            </div>
            <div class="collapse" id="property-options">
            <ul>
                <li><input type="checkbox"><label for="">House</label></li>
                <li><input type="checkbox"><label for="">Apartment</label></li>
                <li><input type="checkbox"><label for="">Loft</label></li>
                <li><input type="checkbox"><label for="">Townhouse</label></li>
                <li><input type="checkbox"><label for="">Villa</label></li>
            </ul>
            </div>
            </div>
            <hr class="small-screen">
            <div class="houserules">
                <p>House Rules</p>
                <div>
                    <ul>
                        <li><input type="checkbox"><label for="">Suitable for events</label></li>
                        <li><input type="checkbox"><label for="">Pets allowed</label></li>
                        <li><input type="checkbox"><label for="">Smoking allowed</label></li>
                    </ul>
                </div>
            </div>
            <div id="filter-submit-footer">
                <button type="button" class="btn btn-block" href="{% url 'hub:filterResults' %}"> Show Homes</button>
            </div>
        </form> 
    </div>


    {% endblock body %}


    {% block scripts %}

    {% endblock scripts %}