{% extends './base.html' %} 
{% load static %}


    {% block navs %}
        {{ block.super }}
    {% endblock navs %}


    {% block filters %} 
        {{ block.super }}
    {% endblock filters %} 


    {% block body %} 
 
<!-- creates proper spacing from top  -->
    <div id="dashboard-cover"></div>

<!-- top destinations -->
    <div class="container filterbar-margin">
        <h5 class="top-destination-header">Travel the world with Airbnb</h5>
        <div class="top-destinations">
            <div class="d-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/florence_top.png' %}" alt="">
                <p class="top-card">Florence</p>            
            </a></div>
            <div class="d-none d-sm-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/budapest_top.png' %}" alt="">
                <p class="top-card">Budapest</p>            
            </a></div>
            <div class="d-none d-md-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/florence_top.png' %}" alt="">
                <p class="top-card">New York City</p>            
            </a></div>
            <div class="d-none d-lg-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/budapest_top.png' %}" alt="">
                <p class="top-card">Athens</p>            
            </a></div>
        </div>
    </div>

<!-- displays listings -->
    <div class="container">
        <h3 class="destination-header">Homes</h3>
        <div class="row">
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/room1.jpeg' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p id="stop" class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}" class="quiet-link"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/one.png' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6  class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/room2.jpg' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/one.png' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/room1.jpeg' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/one.png' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/one.png' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6 col-lg-4 column-card">
                <a href="{% url 'hub:listing' %}"><div class="card">
                    <img class="card-img-top" src="{% static 'hub/images/one.png' %}" alt="Card image cap">
                    <i id="like" class="far fa-heart fa-2x"></i>
                    <div class="card-body">
                        <p class="card-title">ENTIRE HOUSE <span>&#x02022;</span> CAPE TOWN</p>
                        <h6 class="card-text">Unwind in a Bright, Airy Space with Rustic Accents</h6>
                        <p class="card-text">$44 per night</p>
                        <p class="card-text">
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star"></i></span>
                            <span class="greentext"><i class="fas fa-star"></i></span> 
                            <span class="greentext"><i class="fas fa-star-half"></i></i></span> 342</p>
                    </div>
                </div></a>
            </div>
    </div>

    {% endblock body %}


    {% block scripts %}
    <script>
    $("#click").click(function() {
        console.log("clicked card");
        $.ajax({url: "{% url 'hub:landing' %}", success: function(result){
            return(result);
        }
            // method:"GET",
            // url: "/listing/",
            // async: true
        });
        return false;
    });
    </script>
    
    {% endblock scripts %}