{% extends './base.html' %} 
{% load static %}


    {% block navs %}
        {{ block.super }}
    {% endblock navs %}


    {% block filters %} 
        {{ block.super }}
    {% endblock filters %} 
 

    {% block body %} 
 
<!-- creates proper spacing from top  -->
    <div id="dashboard-cover"></div>

<!-- top destinations -->
    <div class="container filterbar-margin">
        <h5 class="top-destination-header">Travel the world with Airbnb</h5>
        <div class="top-destinations">
            <div class="d-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/florence_top.png' %}" alt="">
                <p class="top-card">Florence</p>            
            </a></div>
            <div class="d-none d-sm-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/budapest_top.png' %}" alt="">
                <p class="top-card">Budapest</p>            
            </a></div>
            <div class="d-none d-md-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/florence_top.png' %}" alt="">
                <p class="top-card">New York City</p>            
            </a></div>
            <div class="d-none d-lg-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/budapest_top.png' %}" alt="">
                <p class="top-card">Athens</p>            
            </a></div>
        </div>
    </div>

<!-- displays listings --> 
    <div class="container">
        <h3 class="destination-header">Homes</h3>
        <div class="row">
            {% if listings %}
                {% for listing in listings %}
                    <div class="col-md-6 col-lg-4 column-card">
                        <a href="/{{ listing.id }}/listingdetails"><div class="card">
                            <img class="card-img-top" src="{{ listing.main_photo.url }}" alt="Card image cap">
                            <i id="like" class="far fa-heart fa-2x"></i>
                            <div class="card-body">
                                <p id="stop" class="card-title red-text">{{ listing.listing_type }} <span>&#x02022;</span> {{ listing.city|upper }}</p>
                                <h6 class="card-text">{{ listing.name }}s</h6>
                                <p class="card-text">${{ listing.price }} per night</p>
                                <p class="card-text"></p>
                                {% for i in range %}
                                    {% if listing.rating >= i %}
                                        <span class="greentext"><i class="fas fa-star"></i></span>
                                    {% elif listing.rating > i %}
                                        <span class="greentext"><i class="fas fa-star-half"></i></span>
                                    {% endif %}
                                {% endfor %}
                            {{ listing.reviews.count }}</p>
                            </div>
                        </div></a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% endblock body %}


    {% block scripts %}
    <script>
    $("#click").click(function() {
        console.log("clicked card");
        $.ajax({url: "{% url 'hub:landing' %}", success: function(result){
            return(result);
        }
            // method:"GET",
            // url: "/listing/",
            // async: true
        });
        return false;
    });
    </script>
    
    {% endblock scripts %}