{% extends './base.html' %} 
{% load static %}


    {% block navs %}
        {{ block.super }}
    {% endblock navs %}


    {% block filters %} 
        {{ block.super }}
    {% endblock filters %} 
 

    {% block body %} 
 
<!-- creates proper spacing from top  -->
    <div id="dashboard-cover"></div>

<!-- top destinations -->
    <div class="container filterbar-margin">
        <h5 class="top-destination-header">Travel the world with Airbnb</h5>
        <div class="top-destinations">
            <div class="d-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/florence_top.png' %}" alt="">
                <p class="top-card">Florence</p>            
            </a></div>
            <div class="d-none d-sm-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/budapest_top.png' %}" alt="">
                <p class="top-card">Budapest</p>            
            </a></div>
            <div class="d-none d-md-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/florence_top.png' %}" alt="">
                <p class="top-card">New York City</p>            
            </a></div>
            <div class="d-none d-lg-block topcity"><a href="">
                <img class="top-card" src="{% static 'hub/images/budapest_top.png' %}" alt="">
                <p class="top-card">Athens</p>            
            </a></div>
        </div>
    </div>
    
    <div class="container" id="listing_grid">
            {% include 'hub/listingsGrid.html' %}
    </div>

    {% endblock body %}

    
    {% block scripts %}
    <script>


    $("#click").click(function() {
        console.log("clicked card");
        $.ajax({url: "{% url 'hub:landing' %}", success: function(result){
            return(result);
        }
            // method:"GET",
            // url: "/listing/",
            // async: true
        });
        return false;
    });
    </script>
    
    {% endblock scripts %}