
<div class="filters ">
    <div class="container">
        <nav class="nav nav-pills">
            <button id="dates" class="nav-link nav-item indvFilter active">All dates</button>
            <button id="guests" class="nav-link nav-item indvFilter active">1 guest</button>
            <div class="d-none d-md-block">
                <button id="type" class="nav-link nav-item indvFilter">Home type</button>
            </div>
            <div class="d-none d-md-block">
                <button id="price" class="nav-link nav-item indvFilter">Price</button>
            </div>
            <div class="d-none d-md-block">
                <button id="more-filters" class="nav-link nav-item indvFilter">More Filters</button>
            </div>
            <div class="d-sm-block d-md-none">
                <button id="small-more-filters" class="nav-link nav-item indvFilter">Filters</button>
            </div>
        </nav>
    </div>
</div>