{% extends './base.html' %} 
{% load static %}


    {% block navs %}
    {% include './small-screen-navbar.html' %} 
    {% endblock navs %}

     
    {% block filters %} 
     
    {% endblock filters %} 


    {% block body %} 
    
    <div id="icon-menu-margin" class="menu">
        <div>
            <a class="menu-home-link" href="{% url 'hub:home' %}"><div>Home</div></a>
        </div>
        <hr>
        <div class="roomtype">
            <ul>
                <li>
                    <a href="{% url 'hub:signup' %}">
                        <div class="flex-container">
                            <span>Sign up</span>
                            <i class="fas fa-user-plus fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hub:login' %}">
                        <div class="flex-container">
                            <span>Login</span>
                            <i class="fas fa-user-circle fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hub:signup' %}">
                        <div class="flex-container">
                            <span>Become a Host</span>
                            <i class="fas fa-home fa-lg"></i>
                        </div>
                    </a>
                </li>
                
    {% endblock body %}


    {% block scripts %}

    {% endblock scripts %}

