{% extends './base.html' %} 
{% load static %}


    {% block navs %}
    {% include './small-screen-navbar.html' %} 
    {% endblock navs %}

    
    {% block filters %} 
    
    {% endblock filters %} 


    {% block body %} 
    {% if "id" in request.session.data %}
    <div id="icon-menu-margin" class="menu">
        <div >
            <a class="menu-home-link" href="{% url 'hub:home' %}"><div>Home</div></a>
        </div>
        <hr>
        <div class="roomtype">
            <ul>
                <li>
                    <a href="{% url 'hub:profile' %}">
                        <div class="flex-container">
                            <span>Profile</span>
                            <i class="fas fa-user-circle fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hub:profile' %}">
                        <div class="flex-container">
                            <span>Trips</span>
                            <i class="fas fa-suitcase fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hub:profile' %}">
                        <div class="flex-container">
                            <span>Reviews</span>
                            <i class="far fa-envelope fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hub:profile' %}">
                        <div class="flex-container">
                            <span>Favorites</span>
                            <i class="far fa-heart fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'hub:becomeHost' %}">
                        <div class="flex-container">
                            <span>Become a Host</span>
                            <i class="fas fa-home fa-lg"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <div>
            <ul>
                <li><a href="{% url 'user:logout' %}"><div>Logout</div></a></li>
            </ul>      
        </div>
        <hr>
    </div>
    {% else %}
    <div id="icon-menu-margin" class="menu">
        <div>
            <a class="menu-home-link" href="{% url 'hub:home' %}"><div>Home</div></a>
        </div>
        <hr>
        <div class="roomtype">
            <ul>
                <li>
                    <a data-toggle="modal" href="#registerModal">
                        <div class="flex-container">
                            <span>Sign up</span>
                            <i class="fas fa-user-plus fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-toggle="modal" href="#loginModal">
                        <div class="flex-container">
                            <span>Login</span>
                            <i class="fas fa-user-circle fa-lg"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a data-toggle="modal" href="#registerModal">
                        <div class="flex-container">
                            <span>Become a Host</span>
                            <i class="fas fa-home fa-lg"></i>
                        </div>
                    </a>
                </li>
            </ul>      
        </div>
        <hr>
    </div>
    {% endif %}

    {% endblock body %}


    {% block scripts %}
    
    {% endblock scripts %}
    