{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'hub/libraries/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hub/css/landing.css' %}">
    <title>Airbnb</title>
  
</head>
<body>

    {% include 'hub/navbarTransparent.html' %}
    
    <div class="hero container">
        <h1 id="one">Book unique homes and<h1> 
        <h1 id="two">experiences all over the world.</h1>
        <form class="form-inline" action="{% url 'hub:home' %}">
            <div class="searchbar_div d-flex">
                <div id="search_icon" class="inline">
                    <img src="{% static 'hub/images/search_icon.png' %}" alt="">     
                </div>
                    <input class="search_input" id="search_id" class="controls" type="text" name="html_loc" value="" placeholder='Try "Homes in Vietnam"'>
                    <button class="btn search_button" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'hub/libraries/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'hub/libraries/popper.min.js' %}"></script>
    <script src="{% static 'hub/libraries/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'hub/js/main.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>

// hides current modal when switching between the two
$("#signinFromModal").click(function () {
    $("#loginModal").modal("hide");
});

$("#loginFromModal").click(function () {
    $("#registerModal").modal("hide");
});

// toggle show password for both login and register modal
var passwordVisible = false;
$(".getModal").click(function() {
    passwordVisible = false;
});

$(".showpassword").click(function( event ) {
    event.preventDefault();
    if (passwordVisible) {
        $(".passwordInput").attr("type","password");
        $(".showpassword").text("Show password")
        passwordVisible = !passwordVisible;
    } else {
        $(".passwordInput").attr("type","text");
        $(".showpassword").text("Hide password")
        passwordVisible = !passwordVisible;
    }
});
    // check screen size with Modernizr
var checkMod = function() {
    if (Modernizr.mq('(min-width: 992px)')) {
        console.log("large");
        $( "#logo-route" ).attr("href", "/home/");
        return "large";
    } else if (Modernizr.mq('(min-width: 768px)')) {
        $( ".hero-smallscreen" ).attr("class" , "hero container ");
        $( "#ine" ).text("Book unique homes and");
        $( "#two" ).text("experiences all over the world.");
        $( ".hero-smallscreen span").html( "<h1>Hello <b>Again</b></span>" );
        $( "#logo-route" ).attr("href", "/menu/");
        console.log("medium");
        return "medium";
    } else if (Modernizr.mq('(min-width: 576px)')) {
        console.log("small");
        $( ".hero" ).attr("class" , "hero-smallscreen");
        $( "#one" ).text("Book unique homes");
        $( "#two" ).text("all over the world.");
        return "small";
    } else {
        console.log("extra-small");
        $( ".hero" ).attr("class" , "hero-smallscreen");
        $( "#one" ).text("Book unique homes");
        $( "#two" ).text("all over the world.");
        return "extra-small";
    }
};

$(function() {
    $(window).resize(checkMod);
    checkMod();
});

// $( window ).resize(function() {
//     console.log("checking window");
//     if (Modernizr.mq('(min-width: 576px)')) {
//         console.log("smalling");
//     }
// });

    </script>
</body>
</html>
