{% extends './base.html' %} 
{% load static %}
{% load humanize %}


    {% block navs %}
    {{ block.super }}
    {% endblock navs %}

    
    {% block filters %} 

    {% endblock filters %} 
    

    {% block body %} 

    <div id="Listingmainpic" >
        <img class="d-block w-100" src="{% static 'hub/images/room1.jpeg' %}" alt="First slide">
    </div>

    <div class="listing-main">
        <p class="red-text">{{ listing.listing_type }}</p>
        <h3 class="card-text">{{ listing.name }}</h3>
        <div class="flex-container">
            <p class="listing-city">{{ listing.city }}, {{ listing.state }}</p>
            <img class="tiny-img" src="" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col ">
                    <p class="living-icon"><i class="fas fa-users"></i>  {{ listing.guests }} guests</p>
                    <p class="living-icon"><i class="fas fa-door-open"></i>  {{ listing.bedrooms }} bedroom</p>
                </div>
                <div class="col">
                    <p class="living-icon"><i class="fas fa-bed"></i>  {{ listing.beds }} bed</p>
                    <p class="living-icon"><i class="fas fa-bath"></i>  {{ listing.bathrooms }}bathrooms</p>
                </div>
            </div>
        </div>
        <hr class="listing">
        <div>
            <p>HOME HIGHLIGHTS</p>
            <p><span><strong>Great location</strong></span> this home is located right in the middle of a great neighborhood. Walkable and safe.</p>
            <p><span><strong>Self check-in</strong></span> Easily check yourself in with the lockbox.</p>
        </div>
        <hr class="listing">
        <div>
            <p>{{ listing.description }}</p>
            <a class="link" data-toggle="collapse" data-target="#space-more" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><p class="greentext">Read more about the space  &#x022C1;</p></a>
            <div class="collapse" id="space-more">
                <p>The space</p>
                <p>blah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blah</p>
            </div>
            <a class="getModal greentext" data-toggle="modal" href="#messageModal">contact host</a>
        </div>
        <hr class="listing">
        <div>
            <h6 class="">Amenities</h6>
            {% if amenities %}
                {% for amenity in amenities %}
                    <p>{{ amenity.name }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <hr class="listing">
        <div>
            <h5>{{ reviews.count }} Reviews  
                    {% for i in range %}
                        {% if listing.rating >= i %}
                            <span class="greentext"><i class="fas fa-star"></i></span>
                        {% elif listing.rating > i %}
                        <span class="greentext"><i class="fas fa-star-half"></i>
                        {% endif %}
                    {% endfor %}
        </div>
        <hr class="listing">
        <div>
            {% if reviews %}
                {% for review in reviews %}
                <div class="review-list">
                    <div class="mini-img-box inline">
                        <img class="review-mini-img" src="{{ review.user.image.url }}" alt="profile img">
                    </div>
                    <div class="review-mini-info inline">
                        <h6>{{ review.user.firstName }}</h6>    
                        <p>{{ review.created_at|date:"F Y" }}</p>
                    </div>
                    <p class="review-mini-content">{{ review.content }}</p>
                </div>
                <hr class="listing">
                {% endfor %}
            {% endif %}
        </div>
        <div class="flex-container">
            <div>
                <h4 class="hosted-by">Hosted by {{ listing.host.firstName }}</h4>
                <p class="no-margin">{{ listing.city }}, {{ listing.state }} <span>&#x02022;</span> Joined in {{ listing.host.created_at|date:"F Y" }}</p>
            </div>
            <div class="mini-host-box">
                <img class="review-mini-img" src="{{ listing.host.image.url }}" alt="profile img">
            </div>
        </div>
            <a class="getModal greentext" data-toggle="modal" href="#messageModal">contact host</a>
        <hr class="listing">
        <div class="map">
        {% if 'id' in request.session.data %}
            <button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#ReviewModal">
                <h6 class="red-text">Write a Review of this Property</h6>
              </button>
        {% endif %}
        </div>
        <hr>
            <footer id="filter-submit-footer" class="flex-container fixed-bottom">
                <div>
                    <div class="">
                        <h4 class="inline no-margin">${{ listing.price }}</h4>
                        <p class="inline no-margin">per night</p>
                    </div>
                    <div>
                        <p class="greentext inline">&#9733; &#9733; &#9733;</p>
                        <p class="inline"> 342</p>

                    </div>
                </div>
                <button type="button" class="btn end-button rausch-bg"> Book</button>
            </footer>
        </form> 
    </div>
    
    {% include 'hub/ReviewModal.html' %}

    {% endblock body %}


    {% block scripts %}
        <script>
        </script>
    {% endblock scripts %}

