
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% if "loginError" in request.session.data %}
                        <h5 class="error">{{ request.session.data.loginError }}</h5>
                        {% else %}
                        <h5 class="modal-title">Log in to continue</h5>
                    {% endif %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form class="form" id="login-modal-form" action="{% url 'user:login' %}" method="POST"> 
                        {% csrf_token %}
                        <div id="loginEmailmessage" class="form-group">
                            <input type="email" id="loginEmail" class="form-control" name="loginEmail" placeholder="Email Address">
                        </div>
                        <div id="loginPasswordmessage"  class="form-group">
                            <input type="password" id="loginPassword" class="passwordInput form-control" name="loginPassword" placeholder="Password" data-ng-required="">
                        </div>
                        <div class="flex-container mb-3">
                            <label><input type="checkbox" value="remember-me">  Remember me</label>
                            <a class="showpassword greentext" href="#">Show password</a>
                        </div>
                        <button type="submit" id="ggggg" class="btn btn-lg btn-block rausch-bg modal-button">Log in</button>
                        <a class="greentext" href="">Forgot password?</a>
                        <hr>
                        <p>Don't have an account? <span><a id="signinFromModal"class="greentext" data-toggle="modal" href="#registerModal">Sign in</a></span></p>
                    </form>    
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>