{% extends './base.html' %} 
{% load static %}


    {% block navs %}

    <nav id="small-search-nav" class="navbar flex-container fixed-top">
        <div>
            <a class="small-search-navbar-brand inline" href="#">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div>
            <span>Where</span>
        </div>
        <div>
            <a href="">Clear</a>
        </div>
    </nav>
   
    {% endblock navs %}
 
     
    {% block filters %} 
     
    {% endblock filters %} 


    {% block body %} 

    <div class="small-search-drowpdown-container">
        <div id="small-search-container">
            <div id="small-search-dropdown">
                <input type="text" name="" value="" placeholder="Anywhere">
            </div>
        </div>
    </div>

    <!-- <div>
        <h6>Recent Searches</h6>
    </div> -->

    {% endblock body %}


    {% block scripts %}

    {% endblock scripts %}
