<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <style>
        .wrapper {
            min-height: 800px;
            width: 900px;
            margin: 0px auto;
            padding: 40px 20px;
        }
        .main {
            width: 100%;
            padding: 50px;
            margin-top: 10px;
            border: 1px solid slategray;
            border-radius: 5px;
        }
    </style>
</head>
<body>

</body>
</html>
