<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 100px;
        }
        .main {
            width: 600px;
            border: 1px solid rgb(155, 154, 154);
            padding: 55px 10px;
            margin: 80px auto;
            border-radius: 5px;
        }
        .form-control {
            border: 1px solid rgb(168, 167, 167);
        }
        .flex-container {
            display: flex;
            justify-content: space-between;
        }
        button {
            margin: 20px 0px;
        }
        p {

        }
    </style>
</head>
<body>
        <div class='main'>    
            <form class="form-signin" action="" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" value="" placeholder="Email address">
                </div>
                <div class="form-group">
                    <input type="firstName" class="form-control" name="firstName" value="" placeholder="First name">
                </div>
                <div class="form-group">
                    <input type="lastName" class="form-control" name="lastName" value="" placeholder="Last name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" value="" placeholder="Create a Password" data-ng-required="">
                </div>
                <div class="flex-container mb-3">
                    <label for=""><input type="checkbox" value="remember-me">  Remember me</label>
                    <a href="">Show password</a>
                </div>
                <h5>Birthday</h5>
                <p>To sign up, you must be 18 or older. Other people won't see your birthday.</p>
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected disabled>Month</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected disabled>Day</option>
                        <!-- {% for day in days %}
                        <option value="1">day</option>
                        {% endfor %} -->
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected disabled>Year</option>
                        <!-- {% for year in years %}
                        <option value="1">year</option>
                        {% endfor %} -->
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                    </select> 
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                <p>Already have an Airbnb account? <span><a href="">Log in</a></span></p>
            </form>               
        </div>
</body>
</html>
